body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif   /*{global-font-family}*/;
    padding: 0;
    margin: 0;
}

.mib_header {
    border-bottom: 1px solid   #000000   /*{a-bar-border}*/;
    background:   #3F2D06   /*{a-bar-background-color}*/;
    color:    #ffffff    /*{a-bar-color}*/;
    font-weight: bold;
    text-shadow:    0    /*{a-bar-shadow-x}*/   0   /*{a-bar-shadow-y}*/   0   /*{a-bar-shadow-radius}*/   #000000   /*{a-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(   #412C07   /*{a-bar-background-start}*/), to(   #291F09   /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(   #412C07   /*{a-bar-background-start}*/,   #291F09   /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(   #412C07   /*{a-bar-background-start}*/,   #291F09   /*{a-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient(   #412C07   /*{a-bar-background-start}*/,   #291F09   /*{a-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient(   #412C07   /*{a-bar-background-start}*/,   #291F09   /*{a-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient(   #412C07   /*{a-bar-background-start}*/,   #291F09   /*{a-bar-background-end}*/);
}

.mib_header h1 {
    font-size: 1.2em;
    text-align: center;
    padding: .3em 0 .5em;
    margin: 0;
}

.mib_content {
    padding: 1em;
    border-top:1px solid #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(   #f5f5f5   /*{a-bar-background-start}*/), to(   #ffffff   /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(   #f5f5f5   /*{a-bar-background-start}*/,   #ffffff   /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(   #f5f5f5   /*{a-bar-background-start}*/,   #ffffff   /*{a-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient(   #f5f5f5   /*{a-bar-background-start}*/,   #ffffff   /*{a-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient(   #f5f5f5   /*{a-bar-background-start}*/,   #ffffff   /*{a-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient(   #f5f5f5   /*{a-bar-background-start}*/,   #ffffff   /*{a-bar-background-end}*/);
}

.mib_content select {
    width: 100%;
}

.mib_content input[type=text] {
    width: 95%;
}

.addStickyForm p {
    margin: 0 0 .7em;
}

span.lightbulb-icon {
    background: url(../images/light_bulb_icon.png) no-repeat top center;
    display: inline-block;
    width: 20px;
    height: 24px;
    margin-right:5px;
    position: relative;
    top: 5px;
}

.sticky, .addStickyForm textarea {
    word-wrap: break-word;
    cursor: pointer;
}

.largeSticky {
    min-height: 200px;
    padding: 10px;
}

.postCommentForm textarea{
    text-align: left;
    width: 95%;
    min-height: 190px;
    font-size: 1.1em;
    border-radius: 0;
    color: #000000;
    outline: none;
    border: none;
}

.sticky, .addStickyForm textarea {
    background-color: #FF8;
    border: 1px solid #FF8;
}

.sticky {
    box-shadow: 3px 1px 3px #888;
    -webkit-box-shadow: 3px 1px 3px #888;
    -moz-box-shadow: 3px 1px 3px #888;
    border-radius: 5px 5px 20px 5px;
    -moz-border-radius: 4px 4px 15px 4px;
    -webkit-border-radius: 4px 4px 15px 4px;
    text-align: center;
}

.addStickyForm textarea {
    text-align: left;
    width: 95%;
    min-height: 190px;
    font-size: 1.1em;
    border-radius: 0;
    color: #000000;
    outline: none;
    border: none;
    box-shadow: none;
}


.form_action .comment_action {
    margin-top: 1em;
    width:100%;
    text-align: center;
}

.comment_action #postBtn{
    width: 30%;
}

.form_action #resetBtn {
    margin-right: .5em;
    width: 25%;
}

.form_action #submitBtn {
    width: 65%;
}