<!DOCTYPE html>
<html>
<head>
    <title>Mobile IdeaBoardz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../src/main/webapp/css/bootstrap.css"/>
    <link rel="stylesheet" href="../src/main/webapp/css/mib_custom.css"/>
</head>
<body>
    <div id="menu" class="mib_header clearfix">
        <a href="#" class="logo">IdeaBoardz</a>
        <div class="quick-links pull-right">
            <a href="#" class="btn btn-small ideaIcon">Create Idea</a>
        </div>

    </div>
   <div id="container">
       <div class="mib_content">
            <h1>Board Name</h1>
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#section1">Section 1</a></li>
                <li><a href="#section1">Section 2</a></li>
                <li><a href="#section1">Section 3</a></li>
                <li><a href="#section1">Section 4</a></li>
                <li><a href="#section1">Section 5</a></li>
                <li><a href="#section1">Section 6</a></li>
            </ul>
       </div>
    </div>
</body>
</html>