<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="stylesheet" type="text/css" href="lib/jasmine/jasmine.css">
  <script type="text/javascript" src="lib/jasmine/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="lib/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="lib/jasmine/jasmine-jquery.js"></script>
  <script type="text/javascript" src="lib/phantom-jasmine/console-runner.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="spec/web_idea_boardz.spec.js"></script>
    <script type="text/javascript" src="spec/router.spec.js"></script>


    <!-- include lib for source files here... -->

    <script type="text/javascript" src="../../main/webapp/javascript/lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/lib/backbone/underscore-min.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/lib/backbone/backbone-min.js"></script>

    <!-- include source files here... -->

    <script type="text/javascript" src="../../main/webapp/javascript/app/models/idea_boardz.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/app/models/web_idea_boardz.js"></script>

    <script type="text/javascript" src="../../main/webapp/javascript/app/models/board.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/app/models/idea_collection.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/app/views/index_view.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/app/views/sections_view.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/app/views/create_idea_view.js"></script>
    <script type="text/javascript" src="../../main/webapp/javascript/app/routes/routes.js"></script>

    <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();
      consoleReporter = new jasmine.ConsoleReporter(); // deliberately global; needed by phantom-jasmine script

      jasmineEnv.addReporter(trivialReporter);
      jasmineEnv.addReporter(consoleReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
        
        document.getElementById("TrivialReporter").className += " show-passed"
        document.getElementById("__jasmine_TrivialReporter_showPassed__").checked=true
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>


    <script type="text/template" id="template-newIdea">
        <div class="mib_header">
            <h1><span class="lightbulb-icon"></span>New Idea</h1>
        </div>
        <div class="mib_content">
            <p>Board Name: <%= boardName %>, ID: <%= boardId %></p>
            <form name="ideaForm" action="" method="" class="addStickyForm">
                <p>
                    <label for="sectionId">Add Idea to:</label>
                    <select name="sectionId" id="sectionId">
                        <option value="20" selected="selected">Section ID #20</option>
                    </select>
                </p>
                <div class="sticky largeSticky">
                    <textarea name="ideaText" id="ideaText"></textarea>
                </div>
                <div class="form_action">
                    <button id="resetBtn" type="reset" class="btn btn-large">Discard</button>
                    <button id="submitBtn" type="button" class="submitButton btn btn-large btn-success btn-primary">Submit Idea</button>
                </div>
            </form>
        </div>
    </script>

</head>

<body>
</body>
</html>
